################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Exceptions/Debug/Files.ilk
/Exceptions/Debug/Files.pdb
/Exceptions/Exceptions/Debug/*.*
/Exceptions/Exceptions/CatchingOrder.cpp
/Exceptions/Files/Files/Debug/*.*
/Exceptions/Files/Files/Files.vcxproj
/Exceptions/Files/Files/Files.vcxproj.filters
/Exceptions/Files/Files/Files.vcxproj.user
